<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/styles.css" />
    <title>{{ title }}</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site created by André</p>
        <img class="portrait" src="/img/1.png" />
    </div>
    {{>footer}}
</body>

</html>